<!DOCTYPE html>
<html lang="ko">
<head>
  <title>{{setting.title}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
  <h1>{{setting.title}}</h1>

	<a href="/blog/setting">블로그 설정</a>
	<a href="/post/form">새 포스트</a>

	<table id="post_table" border="1">
		<tr>
			<th>제목</th>
			<th>url</th>
			<th>조회수</th>
		</tr>
		{{#each posts}}
			<tr>
				<td><a href="/post/{{id}}">{{title}}</a></td>
				<td>{{url}}</td>
				<td>{{viewCount}}</td>
			</tr>
		{{/each}}
	</table>

</body>
</html>
